
<app-header></app-header>
<div class="container py-3 px-4">
  
  <div class="row rounded-lg overflow-hidden shadow">
    <!-- Users box-->
    <div class="col-5 px-0">
      <div class="bg-white">
        <div class="bg-gray px-4 py-2 bg-light">
          <p class="h5 mb-0 py-1">Queue</p>
        </div>

        <div class="messages-box">
          <div class="list-group rounded-0">

            <div *ngFor="let r of rooms">
            <a
              (click)="agentjoinroom(r.room)"
              class="list-group-item list-group-item-action list-group-item-light rounded-0" 
            >
              <div class="media">
                <div class="media-body ml-4">
                  <div
                    class="d-flex align-items-center justify-content-between mb-1"
                  >
                    <h3 class="mb-0">{{r.username}}</h3>
                    <small class="small font-weight-bold">{{r.current_date_time}}</small>
                  </div>
                  <p class="font-italic text-muted mb-0 text-small">
                    {{r.message}}
                  </p>
                </div>
              </div>
            </a>
           </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Chat Box-->
    <div class="col-7 px-0">

      <button id="button-addon2" type="button" class="btn btn-warning " >
        Convert Ticket
      </button>
      <button id="button-addon2" type="button" class="btn btn-danger " >
        Transfer Chat
      </button>

      <div class="px-4 py-5 chat-box bg-white" id="msgContainer" >
        
        <!-- Messages -->
        <div  *ngFor="let data of messages" class="media w-50 mb-3" [ngClass]="data.role_id == 2 ? 'ml-auto': ''" #scrollMe >
          
          <div class="media-body ml-3">
            <div [ngClass]="data.role_id == 2 ? 'bg-primary': 'bg-light'" class="rounded py-2 px-3 mb-2">
              <strong [ngClass]="data.role_id == 2 ? 'text-white': ''">{{data.username}}</strong>
              <p class="text-small mb-0 " [ngClass]="data.role_id == 2 ? 'text-white': ''">
              {{data.message}}
              </p>
            </div>
            <p class="small text-muted">{{data.current_date_time}}</p>
          </div>
        </div>

        <div *ngFor="let type of typings | slice:0:1; let i=index" class="media w-100 mb-3" id="typing" #typing>
          <div class="media-body ml-3">
            <div class="bg-light rounded py-2 px-3 mb-2">
              <p ><em>{{type.username}} is typing a message...</em></p>
            </div>
          </div>
        </div>
       
      </div>

      <!-- Typing area -->
      <form action="#" class="bg-light" (ngSubmit)="sendchat()" #chatForm="ngForm">
        <div class="input-group">
          <input
            type="text"
            placeholder="Type a message"
            aria-describedby="button-addon2"
            class="form-control rounded-0 border-0 py-4 bg-light"
            required
            [(ngModel)]="message"
            name="message"
            (keypress)="keypressmessage($event)"

          />
        
          <div class="input-group-append">
           <!-- <button id="button-addon2" type="button" class="btn btn-warning">
              Upload
            </button>-->
            
            <button id="button-addon2" type="submit" class="btn btn-primary" [disabled]="!chatForm.form.valid" >
              Send
            </button>
           
           
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
